#indexLogo {
  margin-left: 30px;
}

#createPostBtn {
  margin-top: 2em;
}

#backBtn {
  margin-bottom: 2em;
}

.textBox {
  margin-bottom: 2em;
}

#nav{
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

#footer-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#footer{
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #E78201;
  color: lightgray;
  text-align: center;
}

#catDelete {
  margin-left: 20px;
}
#contact{
  padding-left: 20px;
  padding-right: 20px;
} 
#about{
  padding-left: 20px;
  padding-right: 20px;
}
#loginBtn{
  padding-right: 20px;
  padding-left: 20px;
  float: right;
}
#main{
  padding-left:25px;
  padding-right: 25px;
}

#logoutBtn, #loginBtn, #catBtn, #postBtn, #showCreatePost, #backBtn, #createCommentBtn, #contactHome, #contactAbout, #aboutHome, #aboutContact {
  background-color: transparent;
  color: #E78201;
  border-color: #E78201;
  font-weight: bold;
}

#catDelete{
  background-color: #E78201;
  color:white
}

#about, #contact{
  color: white;
}
